@import "tailwindcss";

@theme {
    --font-title: var(--font-poppins), ui-sans-serif, system-ui;
    --font-body: var(--font-inter), ui-sans-serif, system-ui;
}

html {
    overflow-x: hidden;
}

:root {
    --font-sans: var(--font-inter);
}

body {
    font-family: var(--font-inter);
    overflow-x: hidden;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-poppins);
}